{% extends 'base.html.twig' %}

{% block title %}New {{ name }}{% endblock %}

{% block body %}
<h1> The new class: {{ name }}</h1>

<ul>
    {% for node in notes %}
    <li> {{ node }}</li>
    {% endfor %}
</ul>
{% endblock %}