{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to TodoList!</h1>
            <p>TodoList is a simple task editor tool for all your basic needs. You can make your own team, assign tasks by date and more. Start now!</p>
            <p><a class="btn btn-info btn-lg" href="/register" role="button">Register here &raquo;</a></p>
            <p>Already a member? <a href="/login" role="button">Login here!</a></p>
        </div>
    </div>
{% endblock %}
